body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 25px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

h1 {
    color: white;
}

input {
    padding: 10px;
    margin: 8px;
    width: 85%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 15px;
    background-color: #4facfe;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #00c6ff;
}

li {
    margin: 10px;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}